/* Sidebar */
.left-sidebar {
	width: $left-block-width;
	float: left;

	.buttons-container {
		overflow: hidden;
		padding: 12px;
		background-color: $dark-10-gray-color;
		button {
			padding-right: 0;
			padding-left: 0;
		}
		.zum-button {
			width: 135px;
			float: left;
			@include button($light-gray-color);
		}
		.save-button {
			width: 105px;
			float: right;
			@include button($green-color);
		}
	}

	.navigation {
		margin-top: 45px;
		li {
			padding: 15px 30px 15px;
			color: $light-text-color;
			transition: all 0.5s ease;
			&.current, &:hover {
				background-color: $dark-10-gray-color;
			}
		}
	}
}
