// Colors
$base-bg-color: #f1f1f1;
$base-text-color: #333;
$light-text-color: #fdfdfd;
$gray-text-color: #7e7e7e;

$dark-gray-color: #3b3c3e;
$dark-10-gray-color: #4d4e52;
$light-gray-color: #aeaeae;
$mid-gray-color: #ddd;
$mid-10-gray-color: #e0e0e0;
$green-color: #6dc686;
$blue-color: #409daf;
$turquoise-color: #61b9c5;
$red-color: #fb695a;
$s-color: #666;
$l-color: #999;
$link-color: $gray-text-color;

// Sizes
$left-block-width: 270px;


$serif: 'Droid Serif', serif;
$sansSerif: 'Droid Sans', sans-serif;